@import url("css/normalize.css");

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix::after, .headerMiddleSide__content:before {
    content: "";
    display: table;
    clear: both;
}

/*********************Main Settings***********************/
.body{
    font-size: 100%;
}

.page{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #a2a3a6;
    font-size: 0.875rem;
    line-height: 1.43;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    

}

/*********************Main Settings End***********************/
/***************************Header***********************/
/***************************Header Black Menu***********************/
.header__content{
    padding: 2.25rem 0;
    display: flex;
    justify-content: space-between;
}
.headerUpSide{
    /*background-image: url("images/backgroundImage.jpg");*/
    /*height: 44.375rem;*/
    padding-top: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nav{
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 4.375rem;
}
.headerMenu__logo{
    float: left;
    padding: 1.25rem 0;
}
.littleLogoImg{
    max-width: 100%;
}
.headerMenu__nav{
    float: right;
    padding: 0.5rem;
}
.nav__list{
    list-style: none;
    display: flex;
}
.list__item{
    font-weight: bold;
    margin-right: 2.8125rem;
}
.list__item:last-child{
    margin-right: 0;
}
.list__item-link{
    text-decoration: none;
    color: #b0b0b0;


}
.list__item-link:hover{
    transition: 0.5s;
    color: #fff;
}

/***************************Header Black Menu End***********************/
/***************************Header Middle Side Content***********************/
.headerMiddleSide__content{
    max-width: 50%;
    padding-top: 7rem;
}
.headerMiddleSide__form{
    max-width: 50%;
}

.mainHeadline{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 2.25rem;
    color: #fff;
}
.headerText{
    font-weight: normal;
    font-size: 1rem;
    color: #dededf;
}
.downloadButton{
    display: flex;
    width: 8.4375rem;
    height: 2.625rem;
    border: 2.5px solid #cfcfce;
    justify-content: center;
    align-items: center;
}
.wordDownload{
    /*position: relative;*/
    font-weight: bold;
    font-size: 1rem;
}
.downloadButton__link{
    text-decoration: none;
    color: #cfcfce;
}
.downloadButton__link:hover{
    color: #fff;
    transition: 0.5s;
}
/***************************Header Middle Side Form***********************/


/***************************Social media***********************/
.socialMedia{
    background-color: #ffffff;
    border-bottom: 2px solid #b7b7b7;
    padding: 1.5rem 0;

}
.socialMedia__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.H2__headline{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333333;
    margin: 0;
}
.SM__content{
    margin: 0;
}
.sm__icons{
    max-width: 100%;
}
/***************************Social media end***********************/
/*******************************Section1***********************/
.section1{
    background-color: #f5f5f5;
}
.section1__block{
    padding: 12% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab__link{
    text-decoration: none;

}
.tabs{
    margin-right: 6.25rem;
}
.tab{
    width: 6.875rem;
    height: 6.875rem;
    border: 0.5px solid #fff;
    border-radius: 7px;
    background-color: #333333;
    text-align: center;
}
.tab:hover, .orange__button:hover{
    background-color: #ff8b38;
    transition: 0.5s;
}

.tab__text{
    font-weight: bold;
    font-size: 1rem;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.textAndButton{
    /*margin-right: 6.25rem;*/
    max-width: 46%;
}
.orange__button{
    width: 7.5rem;
    height: 2.75rem;
    border: 1px solid #fff;
    border-radius: 7px;
    background-color: #333333;
    text-align: center;
}

.orange__button__text {
    font-weight: normal;
    font-size: 1rem;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.cityPicture{
    max-width: 100%;
}

/*******************************Section1 End***********************/
/*******************************Section2 ***********************/
.section2{
    background-color: #ffffff;
}
.section2__block{
    padding: 8% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2__picture{
    margin-right: 7.375rem;
}
.section2__content{
    max-width: 37%;
}
.title{
    display: flex;
    justify-content: space-between;
}
.title__circle{
    margin-right: 1.875rem;
    text-align: center;
    margin-top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    background-color: #fff;
}
.title__content{
    width: 82%;
}
.circle__picture{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.H3__headline{
    font-weight: bold;
    color: #000000;
}
.section2__pic{
    max-width: 100%;
}
/****************************Section2 End***********************/
/*******************************Section3***********************/
.section3{
    background-color: #f5f5f5;
}
.section3__block{
    padding: 7% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section3__content{
    /*margin-right: 7.375rem;*/
    max-width: 38%;
}
.section3__pic{
    max-width: 100%;
}
/****************************Section3 End***********************/
/*******************************Section4***********************/
.section4__block{
    padding: 7% 0;
    text-align: center;
}
.sec__content{
    display: flex;
    justify-content: space-between;

}

.sec__headline{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 2.25rem;
    color: #3b3b3b;
}
.sec__item{
    text-align: center;
    max-width: 31%;
}
.item__circle{
    margin: 1.8125rem auto;
    width: 4.5rem;
    height: 4.5rem;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    background-color: #fff;
}
.item__pic{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/****************************Section4 End***********************/
/*******************************Section5***********************/
.section5{
    background-color: #f5f5f5;
}
.section5__block{
    padding: 7% 0;
    text-align: center;
}
.sec5__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 4rem;
}
.column__item1{
    /*max-width: 21rem;*/
    height: 3.75rem;
    background-color: #333;
    border-bottom: 1px solid #f5f5f5;
}
.column__item1_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding-top: 1rem;
}
.column__item2{
    background-color: #333;
}
.usd{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2.1875rem;
    color: #ffffff;
}
.number{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 5.875rem;
    color: #ffffff;
}
.phrase{
    font-style: italic;
    color: #808080;
    padding-bottom: 1rem;
}
.sec5__item {
    text-align: center;
    width: 31%;

}
.column__item3_orange{
    height: 0.375rem;
    background-color: #ff8b38;
}
.column__whiteItem{
    background-color: #ffffff;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
}
.whiteItem__text{
    padding: 1rem 0;
    text-transform: uppercase;
}
.column2__item3_orange{
    background-color: #ff8b38;
}
.column2__item3_text{
    padding: 1rem 0;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}
